@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rokkitt:wght@700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-family: 'Lato', sans-serif;
}

button {

  border-radius: 5px;
  border: none;
  background-color: #7978D9;
  color: #FFF;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 700;
  cursor: pointer;
}